<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="content.css">
    <title>blogmaker</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h1 class="h1">Create Your own Blog</h1>
    <div class="blog">
        <form action="/view" method="POST">
            <label for="title" class="label titl">Title</label>
            <input type="text" name="title" class="input title" required>
            <label for="author" class="label auth">Author</label>
            <input type="text" name="author" class="input author" required>
            <label for="content" class="label cont">Content</label>
            <textarea name="content" class="input content"  rows="10" cols="30"></textarea>
            <input type="submit" name="submit" value="Post" class="createblog">


        </form>

    </div>

    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
    
</body>
</html>